In [1]:
import mysql.connector as connection
   
mydb = connection.connect(host="localhost",user="root", passwd="mysql",use_pure=True )
cursor = mydb.cursor()
query='create database if not exists kavya; '

 # Create database
cursor.execute(query)

In [1]:
import mysql.connector as connection
   
mydb = connection.connect(host="localhost",user="root",database="kavya", passwd="mysql",use_pure=True )
cursor = mydb.cursor()
query='create table if not exists  studentdetails(id int(10),auto_increment int(10) primary key,first_name varchar(60),last_name varchar(60),regisdate date,section varchar(20),class varchar(20));'
 # Create table
cursor.execute(query)

In [2]:
import mysql.connector as connection
   
mydb = connection.connect(host="localhost",user="root",database="kavya", passwd="mysql",use_pure=True )
cursor = mydb.cursor()
query='insert into  studentdetails values(112,12,"rohit","sharma","2021-02-12","b","tenth");'
 # insert into table
cursor.execute(query)
mydb.commit()

In [7]:
import mysql.connector as connection
   
mydb = connection.connect(host="localhost",user="root", passwd="mysql",use_pure=True )
cursor = mydb.cursor()
query='create database if not exists glassdata; '

 # Create database
cursor.execute(query)

In [8]:
import mysql.connector as connection
   
mydb = connection.connect(host="localhost",user="root",database="glassdata", passwd="mysql",use_pure=True )
cursor = mydb.cursor()
query='create table if not exists  glass(indexno int(10),RI float(10,5),Na  float(10,5),Mg float(10,5),Al float(10,5),Si float(10,5),K float(10,5),Ca float(10,5),Ba float(10,5),Fe float(10,5),Class int(10));'
cursor.execute(query)

In [9]:
import mysql.connector as connection
   
mydb = connection.connect(host="localhost",user="root",database="glassdata", passwd="mysql",use_pure=True )
import csv
with open('C://Users/kavya/Downloads/glass.data', 'r') as f:
        next(f)
        glass_data=csv.reader(f,delimiter="\n")
        cursor = mydb.cursor()
        for i in enumerate(glass_data):
            for j in i[1]:
                cursor.execute("insert into glassdata.glass values ({values})".format(values=(j)))
                mydb.commit()

In [8]:
import mysql.connector as connection
import pandas as pd
mydb = connection.connect(host="localhost",user="root",database="glassdata", passwd="mysql",use_pure=True )

query="select * from glassdata.glass";
result=pd.read_sql(query,mydb)
print(result)

     indexno       RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Class
0          1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0      1
1          2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0      1
2          3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0      1
3          4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0      1
4          5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0      1
..       ...      ...    ...   ...   ...    ...   ...   ...   ...  ...    ...
510      210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0      7
511      211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0      7
512      212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0      7
513      213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0      7
514      214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0      7

[515 rows x 11 columns]

In [4]:
import mysql.connector as connection
   
mydb = connection.connect(host="localhost",user="root", database="kavya",passwd="mysql",use_pure=True )
cursor = mydb.cursor()
query='update studentdetails set first_name="gaurav",last_name="sree" where auto_increment=9';

 # update table
cursor.execute(query)
mydb.commit()

In [5]:
import mysql.connector as connection
   
mydb = connection.connect(host="localhost",user="root", database="kavya",passwd="mysql",use_pure=True )
cursor = mydb.cursor()
query='delete from studentdetails where auto_increment=9';

 # update table
cursor.execute(query)
mydb.commit()

In [6]:
import mysql.connector as connection
import pandas as pd
mydb = connection.connect(host="localhost",user="root",database="glassdata", passwd="mysql",use_pure=True )

query="select Si ,Ca,Class from glassdata.glass group by si order by class";
result=pd.read_sql(query,mydb)
print(result)

        Si    Ca  Class
0    71.78  8.75      1
1    72.73  7.83      1
2    72.99  7.78      1
3    72.61  8.22      1
4    73.08  8.07      1
..     ...   ...    ...
128  75.18  8.93      7
129  73.72  8.39      7
130  73.30  8.71      7
131  73.42  8.44      7
132  73.61  8.48      7

[133 rows x 3 columns]